# Every change requires review from the listed maintainer(s).
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*       @andasv
